* {
    text-decoration: none;
}

body {
	color: #757575;
}

html {
	min-height: 100%;
}

input {outline:none;}

/* Header */
header {
	display: table;
	}

@media screen and (max-width: 960px) {
	.hide {
	display: none;
	}
	.menu li {
		margin-left: 10px;
	}
}

/* First div in header */
.logo {
	list-style: none;
	padding-left: 0;
}

.logo li {
	display: inline;
}

.logo img {
	width: 2%;
	margin-bottom: 0.5%;
}

#l-title {
	color: black;
	font-size: 24px;
	font-weight: 400;
}

#l-text {
	font-size: 24px;
	font-weight: 300;
}

#l-button {
	margin-top: 0.5%;
	font-size: 14px;
	font-weight: 600;
	float: right;
	text-transform: uppercase;
	color: #e62117;
}
/* End first div in header */

/* Second div in header */
.menu {
	padding-left: 0;
	list-style: none;
}

.menu li {
	display: inline-block;
	margin-right: 1%;
}

#m-logo {
	font-size: 24px;
	font-weight: 300;
	margin-right: 2%;
}

.m-search {
	color: black;
	margin-left: 40%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	border: none;
	background: #eee;
	width: 200%
}
/* End second div in header */
/* End header */
/* Section  authorization */
#authorization img {
	display: inline-block;
	width: 70%;
}

.a-card {
	display: inline-block;
	float: right;
	width: 30%;
	text-align: center;
	color: black;
	font-size: 2.5em;
	font-weight: 300;
	background: white;
}

#a-button {
	text-transform: uppercase;
	font-weight: 400;
}

@media only screen and (min-width:83.3em) { 
	/* CSS rules here */
	.a-card {
		padding-top: 7%;
	}
}
@media (max-width: 600px) {
	.a-card {
		padding: 5% 0;
	}
}
/* End authorization */
/* Section tips */

#tips {
	background-color: #f5f5f5;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

#tips span {
	vertical-align: top;
	display: inline-block;
	color: black;
	font-size: 32px;
	font-weight: 300;
	width: 30%;
}

#tips p {
	font-size: 14px;
	font-weight: 400;
	color: black;
}

/* End tips */
/* Footer */
footer {
	background: #282828;
	padding: 48px 24px;
}

.f-position {
	margin-left: 20%;
}

.f-menu {
	height: 60%;
	display: inline-block;
	vertical-align: top;
	list-style: none;
	margin-right: 4%;
}

.f-menu li {
	font-size: 14px
	color: grey;
	padding-top: 10%;
}

#f-t-h {
	display: inline-block;
	color: white;
	font-size: 16px;
	font-weight: 500;
}

#f-title {
	color: white;
	font-size: 20px
}

#f-title img {
	margin-right: 5px;
}

#f-last {
	width: 200px;
}
/* End footer */
/* End Index.html */

/* Catalog.html */
/* Section Catalog */
/* Radio Buttons */
.control {
    display: block;
    position: relative;
    padding-left: 17%;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 14px;
    color: black;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 1px dashed #000000;
}
.control-radio .control_indicator {
    border-radius: 19%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ffffff;
}

.control input:checked ~ .control_indicator {
    background: #ffffff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #ffffff;
}
.control input:disabled ~ .control_indicator {
    background: #ffffff;
    opacity: 2;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator:after {
    left: 6px;
    top: 6px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #000000;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #ffffff;
}
/* End Radio Buttons */

#catalog {
    background: #eee;
}

.c-menu {
    width: 20%;
    background: white;
    margin-left: 9%;
    margin-right: 2%;
    padding: 20px 0;
}

@media only screen and (min-width: 1024px) {
    .c-menu {
        display: inline-block;
    }
}

.c-t-title {
    color: black;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 14px;
    font-weight: 500;
}

.c-t-list {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 8%;
}

.c-content {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    padding-top: 1%;
}

.c-c-header {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 81%;
}

.c-c-header li {
    display: inline-block;
    color: black;
    
}

.course {
    display: inline-block;
    margin-top: 1%;
    margin-right: 1%;
    padding: 1%!important;
    width: 40%;
    background: white;
    vertical-align: top;
}

.course img {
    width: 64px;
    margin-right: 1%;
    float: left;
}

.course-card {
    display: inline-block;
}

.course-card #text{
    display: block;
    float: right;
    width: 80%;
    color: black;

}

.course a {
    padding-bottom: 0;
    vertical-align: top;
    font-size: 15px;
    font-weight: 500;
}

.course a:hover {
    text-decoration: underline;
}

.course-card-inf {
    list-style: none;
    margin: 5px 0;
}

.course-card-inf li {
    color: grey;
    display: inline-block;
    margin-right: 10%;
}

.course-card-inf #last {
    float: right;
    text-transform: uppercase;
    color: red;
}
/* End Catalog */