* {
	outline: none;
}

.n-section {
	font-size: 36px;
}

.active-url {
	border-bottom: 1px solid blue;
}

.icon {
	width: 32px;
	height: 32px;
}

.inline-list li{
	display: inline-block;
}

#sizeTextDiv {
	color: black;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 4.6%;
}

#sizeTextDiv .w3-button{
	margin: 26px;
	padding: 7px 26px;
}

#sizeTextDiv h2{
	margin: 0;
}

#courses span {
	width: 33.33%;
	padding: 70px 30px;
	display: inline-block;
	text-align: center;
}

#courses span h2:hover {
	text-decoration: underline;
	text-decoration-color: blue;
}

footer {
	height: 36x0px;
	background: #282828;
	text-align: center;
	color: white;
}

footer ul {
	vertical-align: top;
	list-style: none;
	display: inline-block;
	width: 15%;
	margin-top: 2%;
	text-align: left;
}

footer li {	margin-bottom: 20px;
	font-size: 15px;
}

footer ul a {
	color: #757575;
}

footer ul a:hover {
	color: white;
}

.copyright {
	font-size: 12px;
	padding: 0;
}

.copyright a{
	color: white;
	font-weight: 500;
	text-transform: uppercase;
}

.m-select {
	color: white;
	margin-top: 17%;
	height: 20px;
	width: 150px;
	background: none;
	border: none;
	border-bottom: 1px solid lightgrey; 
}

.m-select option {
	color: black;
}

@media (max-width: 768px) {
	.hide {
		display: none;
	}

	#sizeImgDiv img{
		width: 100%;
	}

	#courses span {
	border-bottom: 1px solid lightgray;
	padding: 20px 30px;
	}

	footer ul{
		text-align: center;
		width: 49%;
	}

	.m-select {
		margin-top: 5%;
	}

	#menu {
		display: none;
	}

	.m-filters {
		display: none;
	}

	.m-c-cont {
		width: 100%;
	}

	.m-c-l{
		text-align: center;
	}	

	.m-c-card {
	padding: 10px;
	list-style: none;
	height: auto;
	background: white;
	}
}

@media (min-width: 1024px) {
	.inline-list {
		left: 10%;
	}
	#sizeImgDiv img{
		width: 75%;
		float: left;
	}
	.m-filters {
		float: left;
		margin-left: 3%;
		margin-right: 3%;
		width: 30%;
	}
	.m-c-cont {
		display: inline-block;
		width: 60%;
	}
	.m-c-l-right {
		float: right;
	}

	.m-c-card {
	border-radius: 2px;
	padding: 10px;
	margin-bottom: 10px;
	display: inline-block;
	list-style: none;
	width: 49.5%;
	height: auto;
	background: white;
}
}

#content {
	background: lightgrey;
}

.m-filters {
	width: 20%;
	height: 460px;
}

.m-c-l li{
	margin-right: 2%;
	display: inline-block;
	color: black;
}

.m-c-card img {
	width: 20%;
	float: left;
	margin-right: 10px;
}

.m-c-card span{
	width: 76%;
	float: right;
}

.m-c-card a {
	color: black;
	font-weight: 500;
}

.m-c-card a:hover {
	text-decoration: underline;
}

.m-c-header {
	text-align: left;
}